<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#/" scroll-to="inicio">INICIO</a></li>
        <li><a ng-href="#/" scroll-to="historia">NUESTRA HISTORIA</a></li>
        <li><a ng-href="#/" scroll-to="galeria">GALERIA</a></li>
        <li><a ng-href="#/" scroll-to="boda">BODA</a></li>
        <li><a ng-href="#/" scroll-to="location">CÓMO LLEGAR</a></li>
        <li><a ng-href="#/" scroll-to="hospedaje">HOSPEDAJE</a></li>
        <!--<li style="border:none;"><a ng-href="#/confirmar">CONFIRMAR</a></li>-->
      </ul>
    </div>
  </div>
</nav>
